
@{
    ViewBag.Title = "InputTest";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<p>Use this area to provide additional information.</p>


<link rel="stylesheet" href="~/Content/bootstrap.css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script runat="server">
$(function(){

	
	$('#drop1 option[value="@ViewBag.drop1"]').attr("selected",true);

	$('input:radio[value="@ViewBag.radio"]').attr("checked",true);
	
	var areaval = ("@ViewBag.area1");
	$('#area1').val(areaval);
	
	var timeoutId;
	$('form input, form textarea, form select').on('input propertychange change', function() {
		
			console.log('form Change');    
			clearTimeout(timeoutId);
			timeoutId = setTimeout(function() {    
				saveToDB();
			}, 1500);
	});

	function saveToDB()
	{
		var formdata = new FormData($("form")[0]);
		formdata.append("a","test");

		$.ajax({
			url: '/AutoSave/SaveDB',
			type: "POST",
			data: formdata,
			processData: false,
			contentType: false,
			beforeSend: function(xhr) {
				$('#info').html('Saving...');
			},
			success: function(data) {
				var d = new Date();
				$('#info').html('Saved! Last: ' + d.toLocaleTimeString()+ data);
			},
		});
	}

});

</script>


<div class="container">
    <div class="row">
        @*@using (Html.BeginForm("", "", FormMethod.Post))*@

		<span id="info"></span>
		<form method="post" enctype="multipart/form-data" runat="server" action="/AutoSave/SaveDB">

			<input  class="form-control" type="text" name="txtinput1" runat="server" value="@ViewBag.input1"><br>
			<input  class="form-control" type="text" name="txtinput2" runat="server" value="@ViewBag.input2"><br>

			<label class="radio-inline">
				<input type="radio" name="optradio" value="1" checked>Option 1
			</label>
			<label class="radio-inline">
				<input type="radio" name="optradio" value="2">Option 2
			</label>
			<label class="radio-inline">
				<input type="radio" name="optradio" value="3">Option 3
			</label>

			<div class="form-check">
				<label class="form-check-label">
				<input type="checkbox" class="form-check-input" name="check">
				Check me out
				</label>
			</div>

			<div class='form-group'>
			<select class="form-control" id="drop1" name="drop1" runat="server">
				<option value="0">請選擇</option>
				<option value="1">自主行動-系統思考與解決問題</option>
				<option value="2">規劃執行與創新應變</option>
				<option value="3">符號運用與溝通表達</option>
				<option value="4">科技資訊與媒體素養</option>
				<option value="5">藝術涵養與美感素養</option>
				<option value="6">道德實踐與公民意識</option>
				<option value="7">人際關西與團隊合作</option>
				<option value="8">多元文化與國際理解</option>
				<option value="9">身心素質與自我精進</option>
			</select>
			<select class="form-control" id="drop2" name="drop2"  runat="server">
				<option value="">請選擇</option>
				<option value="1">自主行動-系統思考與解決問題</option>
				<option value="2">規劃執行與創新應變</option>
				<option value="3">符號運用與溝通表達</option>
				<option value="4">科技資訊與媒體素養</option>
				<option value="5">藝術涵養與美感素養</option>
				<option value="6">道德實踐與公民意識</option>
				<option value="7">人際關西與團隊合作</option>
				<option value="8">多元文化與國際理解</option>
				<option value="9">身心素質與自我精進</option>
			</select>
			</div>

			<div class="form-group">
				<textarea class="form-control" rows="5" name="area1" id="area1"></textarea>
				<div class="fileupload fileupload-new" data-provides="fileupload">
					<span class="btn btn-primary btn-file"><span class="fileupload-new">檔案上傳</span>
					<span class="fileupload-exists">更改檔案</span>         
					<input type="file" name="file1" id="file1"/></span>
					<span class="fileupload-preview"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
				</div>
			</div>

			<div class="form-group">
				<textarea class="form-control" rows="5" name="area2" ></textarea>
				<div class="fileupload fileupload-new" data-provides="fileupload">
					<span class="btn btn-primary btn-file"><span class="fileupload-new">檔案上傳</span>
					<span class="fileupload-exists">更改檔案</span>         
					<input type="file" name="file2" id="file2"/></span>
					<span class="fileupload-preview"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
				</div>
			</div>

		</form>
    </div>
</div>
